################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aviation/.vs
/Aviation/Aviation/bin/Debug/net8.0
/Aviation/Aviation/obj/Debug/net8.0
/Aviation/Aviation.Api/bin/Debug/net8.0
/Aviation/Aviation.Api/obj/Debug/net8.0/EndpointInfo
/Aviation/Aviation.Api/obj/Debug/net8.0/ref
/Aviation/Aviation.Api/obj/Debug/net8.0/refint
*.json
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.AssemblyInfo.cs
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.AssemblyInfoInputs.cache
/Aviation/Aviation.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
/Aviation/Aviation.Api/obj/Debug/net8.0
/Aviation/Aviation.Application/bin/Debug/net8.0
/Aviation/Aviation.Application/obj/Debug/net8.0
/Aviation/Aviation.Domain/bin/Debug/net8.0
/Aviation/Aviation.Domain/obj/Debug/net8.0
/Aviation/Aviation.Infrastructure
/Aviation/Aviation/obj/Debug/net8.0/Aviation.AssemblyInfo.cs
/Aviation/Aviation/obj/Debug/net8.0/Aviation.AssemblyInfoInputs.cache
/Aviation/Aviation.Application/obj/Debug/net8.0/Aviation.Application.AssemblyInfo.cs
/Aviation/Aviation.Application/obj/Debug/net8.0/Aviation.Application.AssemblyInfoInputs.cache
/Aviation/Aviation.Infrastructure/obj/Debug/net8.0/Aviation.Infrastructure.AssemblyInfo.cs
/Aviation/Aviation.Infrastructure/obj/Debug/net8.0/Aviation.Infrastructure.AssemblyInfoInputs.cache
/Aviation/Aviation/bin/Debug/net8.0
/Aviation/Aviation/obj/Debug/net8.0
/Aviation/Aviation.Api/bin/Debug/net8.0
/Aviation/Aviation.Api/obj/Debug/net8.0/EndpointInfo
/Aviation/Aviation.Api/obj/Debug/net8.0/ref
/Aviation/Aviation.Api/obj/Debug/net8.0/refint
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.AssemblyInfo.cs
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.AssemblyInfoInputs.cache
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.csproj.AssemblyReference.cache
/Aviation/Aviation.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
/Aviation/Aviation.Api/obj/Debug/net8.0
/Aviation/Aviation.Application/bin/Debug/net8.0
/Aviation/Aviation.Application/obj/Debug/net8.0/ref
/Aviation/Aviation.Application/obj/Debug/net8.0/refint
/Aviation/Aviation.Application/obj/Debug/net8.0
/Aviation/Aviation.Domain/bin/Debug/net8.0
/Aviation/Aviation.Domain/obj/Debug/net8.0/ref
/Aviation/Aviation.Domain/obj/Debug/net8.0/refint
/Aviation/Aviation.Domain/obj/Debug/net8.0
/Aviation/Aviation.Infrastructure/bin/Debug/net8.0
/Aviation/Aviation.Infrastructure/obj/Debug/net8.0/ref
/Aviation/Aviation.Infrastructure/obj/Debug/net8.0/refint
/Aviation/Aviation.Infrastructure/obj/Debug/net8.0
/Aviation/Aviation.Api/obj/Debug/net8.0/Aviation.Api.assets.cache
/Aviation/Aviation.Api/obj/Aviation.Api.csproj.nuget.dgspec.json
/Aviation/Aviation.Api/obj/project.assets.json
/Aviation/Aviation.Api/obj/project.nuget.cache
